<div id="logo-logout-container" >
    <a href="/stacks"><img
    src="../images/logo.png"
    class="logo"
    alt="An image of the logo for Stacks. A round yellow logo with 3 white rectangles stacked horizontally with the word 'Stacks' above"
/></a>
<a href="/logout" id="logout-anchor"><button id="logout">Logout</button></a>
</div>