<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <section class="books-on-shelf">
        <div id="stack-container">
            <div class="book-in-stack" id="book-1"></div>
            <div class="book-in-stack" id="book-2">
                <button id="stack-button">ALL THE BOOKS</button>
            </div>
            <div class="book-in-stack" id="book-3"></div>
        </div>

        <img
            src="images/small-plant.png"
            alt="a small cartoon pothos plant in a brown pot"
            id="small-plant"
        />
        <div id="stack-container">
            <div class="book-in-stack" id="book-1"></div>
            <div class="book-in-stack" id="book-2">
                <button id="stack-button">button</button>
            </div>
            <div class="book-in-stack" id="book-3"></div>
        </div>
    </section>
    <div>
        <h2>
            Add A New Stack
        </h2>
        <form>
            <label>
                Title
					<input type="text" name="title" id="" />
            </label>
            <a href="" ><button id="add-book">Add Book</button></a>
        </form>
    </div>
    <img
    class="large-plant-all-pages"
    src="images/large-plant.png"
    alt="a large cartoon monstera plant in a blue pot"
/>
    <%- include("../partials/footer") %>
</body>
</html>