<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <h2>404</h2>
    
    <h3>The Page You Requested Doesn't Exist</h3>
    <p>Users: Check the Address Bar to Make Sure You're Requesting a Valid Page.</p>
    <!--Please remove the below in prod-->
    <p>Developers: Check your routes, your links and your forms to ensure that they are defined correctly.</p>
    <%- include('./partials/footer') %>
</body>
</html>