<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>

    <!-- style this h2 -->
    <h2>Oh No! You can only have 5 stacks.</h2>
    <h3>To add another stack, you must delete one first.</h3>
    <img src="../images/logo.png" alt="an image of the logo for Stacks. A round yellow logo with 3 white rectangles stacked horizontally with the word 'Stacks' above">
    <p>Try again later or <a href="/">go back home</a></p>
    <%- include('./partials/footer') %> 
</body>
</html> 